.jcarousel-skin-plone .jcarousel-container {

}

.jcarousel-skin-plone .jcarousel-direction-rtl {
	direction: rtl;
}

.jcarousel-skin-plone .jcarousel-container-horizontal {
/*    width: 532px;*/
    width: 512px;
    padding: 20px 40px;
    margin:auto;
}

.jcarousel-skin-plone .jcarousel-clip {
    overflow: hidden;
}

.jcarousel-skin-plone .jcarousel-clip-horizontal {
    width: 512px;
/*    width:  532px;*/
    height: 128px;
}

.jcarousel-skin-plone .jcarousel-item {
    width: 128px;
    height: 128px;
}

.jcarousel-skin-plone .jcarousel-item-horizontal {
	margin-left: 0;
}



/**
 *  Horizontal Buttons
 */
.jcarousel-skin-plone .jcarousel-next-horizontal {
    position: absolute;
    top: 70px;
    right: 5px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(../++resource++redomino.tabsandslides.next-horizontal.png) no-repeat 0 0;
}

.jcarousel-skin-plone .jcarousel-direction-rtl .jcarousel-next-horizontal {
    left: 5px;
    right: auto;
    background-image: url(../++resource++redomino.tabsandslides.prev-horizontal.png);
}

.jcarousel-skin-plone .jcarousel-next-horizontal:hover,
.jcarousel-skin-plone .jcarousel-next-horizontal:focus {
    background-position: -32px 0;
}

.jcarousel-skin-plone .jcarousel-next-horizontal:active {
    background-position: -64px 0;
}

.jcarousel-skin-plone .jcarousel-next-disabled-horizontal,
.jcarousel-skin-plone .jcarousel-next-disabled-horizontal:hover,
.jcarousel-skin-plone .jcarousel-next-disabled-horizontal:focus,
.jcarousel-skin-plone .jcarousel-next-disabled-horizontal:active {
    cursor: default;
    background-position: -96px 0;
}

.jcarousel-skin-plone .jcarousel-prev-horizontal {
    position: absolute;
    top: 70px;
    left: 5px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(../++resource++redomino.tabsandslides.prev-horizontal.png) no-repeat 0 0;
}

.jcarousel-skin-plone .jcarousel-direction-rtl .jcarousel-prev-horizontal {
    left: auto;
    right: 5px;
    background-image: url(../++resource++redomino.tabsandslides.next-horizontal.png);
}

.jcarousel-skin-plone .jcarousel-prev-horizontal:hover, 
.jcarousel-skin-plone .jcarousel-prev-horizontal:focus {
    background-position: -32px 0;
}

.jcarousel-skin-plone .jcarousel-prev-horizontal:active {
    background-position: -64px 0;
}

.jcarousel-skin-plone .jcarousel-prev-disabled-horizontal,
.jcarousel-skin-plone .jcarousel-prev-disabled-horizontal:hover,
.jcarousel-skin-plone .jcarousel-prev-disabled-horizontal:focus,
.jcarousel-skin-plone .jcarousel-prev-disabled-horizontal:active {
    cursor: default;
    background-position: -96px 0;
}


