/*
**********************************************************************
 COMMON
**********************************************************************
*/
#content .tab-content-core.template_image_view_fullscreen a:visited{
    border:none;
}

#content .tab-content-core.template_image_view_fullscreen span, .tab-content-core.template_image_view_fullscreen br{
    display:none;
}



/*
**********************************************************************
 SLIDES
**********************************************************************
*/

/* container for slides */
.slideshow_panes {
	position:relative;	
	height:300px;
	width:100%;
	float:left;	
	margin-bottom:15px;
	cursor:pointer;
    overflow:hidden;	
}

/* single slide */
.slideshow_panes > div {
    visibility:hidden;
	position:absolute;
	top:0;
	left:0;		
	height:256px;
	font-size:12px;
	width:100%;
}

.slideshow_panes a{
    border-bottom: none !important;
}

/* tabs (those little circles below slides) */
.slideshow_tabs {
	clear:both;
    height: 12px;
}

/* single tab */
.slideshow_tabs a {
	width:8px;
	height:8px;
	float:left;
	margin:3px;
	background:url(../++resource++redomino.tabsandslides.navigator.png) 0 0 no-repeat;
	display:block;
	font-size:1px;		
    border-bottom:none;
	text-indent:-9999em;	
}

/* mouseover state */
.slideshow_tabs a:hover {
	background-position:0 -8px;      
}

/* active state (current page state) */
.slideshow_tabs a.current {
	background-position:0 -16px;     
} 	


/* disabled navigational button. is not needed when tabs are configured with rotate: true */
.disabled {
	visibility:hidden ;		
}

.slideshow_panes img{
    max-width: 100%;
}

/*
**********************************************************************
 PORTLET SLIDESHOW
**********************************************************************
*/

.portletSlideshow .panes{
    clear:both;
}
/*
**********************************************************************
 TABS
**********************************************************************
*/


/* root element for tabs  */
.tabs {  
	margin:0 !important; 
	padding:0;
	height:30px;
	border-bottom:1px solid #666;	 	
}

/* single tab */
.tabs li {  
	float:left;	 
	padding:0; 
	margin:0;  
	list-style-type:none;	
}

/* link inside the tab. uses a background image */
.tabs a { 
	float:left;
	font-size:13px;
	display:block;
	padding:5px 30px;	
	text-decoration:none;
	border:1px solid #666;	
	border-bottom:0px;
	height:18px;
	background-color:#efefef;
	color:#777;
	margin-right:2px;
	position:relative;
	top:1px;	
	outline:0;
	-moz-border-radius:4px 4px 0 0;	
	-webkit-border-radius:4px 4px 0 0;	
	border-radius:4px 4px 0 0;	
}

.tabs a:hover {
	background-color:#F7F7F7;
	color:#333;
}
	
/* selected tab */
.tabs a.current {
	background-color:#ddd;
	border-bottom:1px solid #ddd;	
	color:#000;	
	cursor:default;
}

	
/* tab pane */
.panes > div {
	display:none;
	border:1px solid #666;
	border-width:0 1px 1px 1px;
	min-height:150px;
	padding:15px 20px;
	background-color:#ddd;	
}

.panes img{
    max-width: 100%;
}
/*
**********************************************************************
 IMAGE TABS - IMAGE TABS2
**********************************************************************
*/
/*
**********************************************************************
 GALLERY
**********************************************************************
*/
.template-tabbed_summary_view .imagetabs-panes{
    background-color:#EEE;
    margin:10px 0px;
    padding:10px;
}

.template-tabbed_summary_view2 .imagetabs-panes{
    overflow:hidden;
    background-color:#EEE;
    margin:10px 0px;
    padding:10px;
}

.slideshow_panes .image, .imagetabs-panes .image{
    text-align:center;
}

.template-gallery_view #content a:link,
.template-tabbed_summary_view #content a:link,
.template-tabbed_summary_view2 #content a:link{
    border:none;
}

.template-gallery_view a:focus img,
.template-tabbed_summary_view a:focus img, 
.template-tabbed_summary_view2 a:focus img{
    outline: none;
}

.template-tabbed_summary_view .jcarousel-item,
.template-tabbed_summary_view2 .jcarousel-item,
.template-gallery_view .jcarousel-item{
    text-align:center;
}

.template-tabbed_summary_view .current,
.template-tabbed_summary_view2 .current,
.template-gallery_view .current{
    background-color:#EEE;
}



/*
**********************************************************************
 SLIDESHOW PREVIEW FOLDER
**********************************************************************
*/


/* single slide */
.slideshow_preview_panes > div {
	display:none;
	position:absolute;
/*	height:256px;*/
    overflow:hidden;
}
.slideshow_preview_panes{
	height:256px;
}

.slideshow_preview_tabs > li {
    display:block;
    margin-top:10px;
}

.slideshow_preview_tabs {
    float: left;
    position: relative;
    width: 70px;
    z-index: 100;
    background-color: rgba(160, 160, 160, 0.4);
	margin-left:0;
}

.slideshow_preview_tabs a.current {
    background-color: rgba(160, 160, 160, 0.4);
}

.slideshow_preview_tabs img {
    width:68px;
}






